@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'system-ui', serif;
    background-color: #0076a7;
    color: white;
}


.card-header,
.top-heading{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 700; 
    letter-spacing: 5px;
    text-transform: uppercase;    
}
.top-heading{
    margin: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .top-container,
  .middle-containers,
  .bottom-containers,
  .top-top{
      margin: 2rem;
  }

  .middle-containers,
  .card-body{  
    color: black;   
  }
  .cmd-1,
  .cmd-2,
  .cmd-3{
      margin-bottom: 2rem;
  }
  .pie-chart{
    width: 750px;
    height: auto;
  }
  .sales-chart{
      
  }
  /****CARD*****/
  .card-header{
      color: #0076a7;;      
  }
  .card-body{

  }
.md-container-height{
    height: 450px;
}
/**Auction Items**/
.auction-item{
    text-align: center;
}
.auction-image,
.auction-title,
.when,
.where{
   margin-top: 1rem;
}
.auction-text{
    font-size: 1.5rem;
}
.auction-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.when, .where{
    font-weight: bold;
    font-size: 1.8rem;
    font-weight: 500;
}